In [1]:
import nltk
nltk.download()
import pandas as pd
import numpy as np

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [2]:
df=pd.read_csv("Pt.csv")

In [9]:
df.head()

  English Portuguese
0     Go.       Vai.
1     Go.        Vá.
2     Hi.        Oi.
3    Run!     Corre!
4    Run!     Corra!

In [11]:
df.shape

(168903, 2)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168903 entries, 0 to 168902
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   English     168903 non-null  object
 1   Portuguese  168903 non-null  object
dtypes: object(2)
memory usage: 2.6+ MB

In [15]:
df.isnull().sum()

English       0
Portuguese    0
dtype: int64

In [17]:
df.head(5)

  English Portuguese
0     Go.       Vai.
1     Go.        Vá.
2     Hi.        Oi.
3    Run!     Corre!
4    Run!     Corra!

In [19]:
df.tail(4)

,English,Portuguese
168899,A building with high ceilings and huge rooms m...,Um edifício de tetos altos e salas enormes pod...
168900,No matter how much you try to convince people ...,Não importa o quanto você tenta convencer os o...
168901,Some movies make such an impact that one never...,Alguns filmes são tão marcantes que jamais nos...
168902,A child who is a native speaker usually knows ...,Uma criança que é falante nativa geralmente sa...

In [21]:
from nltk.corpus import names

In [23]:
from nltk.tokenize import word_tokenize
sent = '''Hello, How are you?'''
print(word_tokenize(sent))

['Hello', ',', 'How', 'are', 'you', '?']

In [25]:
sent2 = 'Ola, Como estas?'
print(word_tokenize(sent2))

['Ola', ',', 'Como', 'estas', '?']

In [27]:
tokens = word_tokenize(sent)
print(nltk.pos_tag(tokens))

[('Hello', 'NNP'), (',', ','), ('How', 'NNP'), ('are', 'VBP'), ('you', 'PRP'), ('?', '.')]

In [29]:
nltk.help.upenn_tagset('PRP')

PRP: pronoun, personal
    hers herself him himself hisself it itself me myself one oneself ours
    ourselves ownself self she thee theirs them themselves they thou thy us

In [31]:
nltk.upenn_tagset('VBP')

AttributeError: module 'nltk' has no attribute 'upenn_tagset'

In [32]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
print(stop_words)

{'other', 'having', 'its', 'between', 'off', 'by', 'shan', 'or', 'he', 'during', 'through', 'not', 'while', "you're", 'over', 'are', 'has', 'after', "you'll", 'had', 'all', 'is', 'hers', 'herself', 'those', 'hasn', 'very', 'was', 'should', 'down', "hasn't", 'on', 'ourselves', 'hadn', 'and', 'an', "you'd", 'in', 'doing', 'were', 'about', 'my', 'with', 'up', 'so', 'them', 't', 'if', 'him', 'be', 'some', 'she', 'll', 'into', 'that', 'how', 'but', "that'll", 'it', "should've", 'of', 'theirs', 'out', 'why', 'this', 'what', "don't", 'too', 'just', "weren't", 'further', "she's", 'her', 'until', 'few', 'from', 'they', 'most', 'ours', "wouldn't", 'y', 'than', 'didn', 'the', 'nor', 'both', 'here', 'more', 'doesn', 'aren', 'own', 'mustn', "won't", "mightn't", 'wouldn', 'haven', 'don', "mustn't", 'won', 'themselves', 'does', 'his', 'as', "aren't", "doesn't", 'i', 'yours', 'under', 'ain', 'a', 'when', 'needn', 'o', 'any', "needn't", 'am', "hadn't", 'will', 'then', 'can', 'same', 'before', 's', 'there', 'yourself', 'do', 'itself', 've', 'who', "you've", 'd', 'whom', "shouldn't", 'been', 'isn', "it's", 'which', 'once', 're', 'm', "wasn't", 'wasn', "didn't", 'have', 'shouldn', 'again', 'no', 'myself', 'me', 'you', "couldn't", 'ma', 'their', 'against', 'for', 'such', 'did', 'your', 'only', 'where', "shan't", 'at', "haven't", 'we', 'couldn', 'being', 'below', 'now', 'to', 'yourselves', "isn't", 'above', 'weren', 'himself', 'each', 'these', 'because', 'mightn', 'our'}

In [38]:
filtered_sentence = [w for w in tokens if not w in stop_words]
filtered_sentence = []

for w in tokens:
    if w not in stop_words:
        filtered_sentence.append(w)

print(tokens)
print("=================================================================================")
print(filtered_sentence)

['Hello', ',', 'How', 'are', 'you', '?']
=================================================================================
['Hello', ',', 'How', '?']