In [62]:
import nltk
nltk.download()
import pandas as pd
Pt_df = pd.read_csv

import numpy as np

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [25]:
df=pd.read_csv("Pt.csv")

In [27]:
df.head()

    Go.     Vai.
0   Go.      Vá.
1   Hi.      Oi.
2  Run!   Corre!
3  Run!   Corra!
4  Run!  Corram!

In [29]:
df.shape

(168902, 2)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168902 entries, 0 to 168901
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Go.     168902 non-null  object
 1   Vai.    168902 non-null  object
dtypes: object(2)
memory usage: 2.6+ MB

In [33]:
df.isnull().sum()

Go.     0
Vai.    0
dtype: int64

In [35]:
df.head(5)

    Go.     Vai.
0   Go.      Vá.
1   Hi.      Oi.
2  Run!   Corre!
3  Run!   Corra!
4  Run!  Corram!

In [69]:
df.tail(4)

,Go.,Vai.
168898,A building with high ceilings and huge rooms m...,Um edifício de tetos altos e salas enormes pod...
168899,No matter how much you try to convince people ...,Não importa o quanto você tenta convencer os o...
168900,Some movies make such an impact that one never...,Alguns filmes são tão marcantes que jamais nos...
168901,A child who is a native speaker usually knows ...,Uma criança que é falante nativa geralmente sa...

In [76]:
from nltk.corpus import names

In [78]:
print(names.words()[:10])

['Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abigael', 'Abigail', 'Abigale']